main {
  width: 90%;
  max-width: 1024px;
  margin: 1rem auto;
}

.toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1.5rem;

  h2 {
    font-size: 1.25rem;
    font-weight: 400;
  }
}

.button-group {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  button {
    background: var(--dark-gray);
    border: none;
    border-radius: 999px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    &.new-dictionary-button {
      width: 3rem;
      height: 3rem;
      padding: 0;
      border-radius: 999px;
      background: var(--blue);
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      font-size: 2rem;
      position: fixed;
      right: 1rem;
      bottom: 5rem;

      span {
        display: none;
      }
    }
  }
}

.dictionaries {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .dictionaries {
    grid-template-columns: 1fr 1fr;
  }

  .button-group button.new-dictionary-button {
    padding: 0.5rem 1rem;
    width: auto;
    height: auto;
    position: static;
    font-size: 1rem;

    span {
      display: inline;
    }
  }
}

@media (min-width: 1024px) {
  .dictionaries {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
