<main>
  <div class="toolbar">
    <h2>Meus dicionários</h2>

    <div class="button-group">
      <button name="Procurar dicionário">
        <img src="/search.svg" alt="Ícone de lupa" width="16" height="16" />
      </button>

      <button name="Filtrar por favoritos">
        <img src="/bookmark.svg" alt="Ícone de marca-páginas" width="16" height="16" />
      </button>

      <button class="new-dictionary-button"><span>Adicionar dicionário</span> +</button>
    </div>
  </div>

  <div class="dictionaries">
    @for (dictionary of dictionaries; track $index) {
    <dictionary-card [dictionary]="dictionary" />
    }
  </div>
</main>
