header {
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  padding: 1.5rem 0;
}

.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;

  a {
    text-decoration: none;
    color: inherit;
    font-size: 1.25rem;
  }
}
